:root {
    --bg-color: white;
    --text-color: #4a4a4a;
    --text-color-light: #6e6e6e;
    --main-color: #1983ca;
    --main-color-hover: #1c92e1;
    --main-color-light-hover: #f4f9fc;
    --hairline-color: #e3e3e3;
    --footer-bg-color: #f5f5f5;
}

body {
    color: var(--text-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.page-block {
    padding: 0 1rem;
    background-color: var(--bg-color);
}

.page-block-content {
    max-width: 80rem;
    margin: auto;
}

/* header */

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.menu-main {
    flex: 1;
}

.logo-main {
    font-family: 'Staatliches', cursive;
    font-size: 2.6rem;
    margin-right: 1rem;
}

.menu-main-item {
    font-weight: 700;
    text-decoration: none;
    padding: 0 0.5rem;
    color: var(--text-color-light);
}

.menu-main-item:hover {
    color: var(--main-color);
}

/* hamburger */

.hamburger-navigation label, #hamburger {
    display: none;
}

@media screen and (max-width: 760px) {
    .menu-main {
        order: 1;
        flex: 0;
    }

    .logo-main {
        flex: 1;
    }

    .hamburger-navigation label, #hamburger {
        display: inline-block;
        font-size: 2rem;
        padding: 0 1rem;
    }

    .hamburger-items {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: var(--bg-color);
    }

    .hamburger-items a {
        text-align: center;
        padding: 1rem;
        border-bottom: 1px solid var(--hairline-color);
    }

    .hamburger-navigation input:checked ~ .hamburger-items {
        display: flex;
    }

}


/* button */

.button {
    font-weight: 700;
    text-decoration: none;
    background-color: var(--bg-color);
    border: 1px solid var(--main-color);
    color: var(--main-color);
    padding: 0.6rem 1rem;
    border-radius: 0.1rem;
    transition: 200ms;
}

.button:hover {
    background-color: var(--main-color-light-hover);
}

.button-primary {
    background-color: var(--main-color);
    color: var(--bg-color);
}

.button-primary:hover {
    background-color: var(--main-color-hover);
}

.button-danger {
    background-color: red;
    color: var(--bg-color);
}

.button-danger:hover {
    background-color: tomato;
}


/* hero */

.hero-main {
    text-align: center;
}

.hero-main-image {
    margin-top: 4rem;
    max-width: 100%;
}

.hero-main-subtitle {
    font-size: 1.2rem;
    margin-block-start: 0em;
}

@media screen and (min-width: 760px) {
    .hero-main {
        display: flex;
        height: 40vw;
        max-height: 32rem;
        text-align: left;
        align-items: center;
        position: relative;
        padding: 2rem 0;
    }

    .hero-main-content {
        flex: 1;
    }

    .hero-main-title {
        font-size: 3rem;
        margin: 0;
        font-weight: 500;
    }

    .hero-main-subtitle {
        font-size: 2rem;
        margin-block-start: 0em;
    }

    .hero-main-image {
        height: 80%;
    }
}

@media screen and (min-width: 1100px) {
.hero-main-content {
    align-self: flex-start;
    padding-top: 3rem;
}
    .hero-main-title {
        font-size: 6rem;
    }

}

/* section */

.section-title {
    font-size: 2.5rem;
    font-weight: 500;
}

.description-section {
    max-width: 60rem;
    padding: 4rem 0;
}

.features-section {
    padding: 5rem 0;
}

.section-features-image {
    width: 100%;
}

@media screen  and (min-width:760px) {
    .features-section {
        display: flex;
    }

    .section-features-image {
        width: 50%;
    }

    .features-section:nth-child(even) div {
        order: 1;
    }
}

/* helpers */

.lg {
    font-size: 1.5em;
}

.bb {
    border-bottom: 1px solid var(--hairline-color);
}

.mb {
    margin-bottom: 3rem;
}

.pb {
    padding-bottom: 3em;
}

.pa {
    padding: 5rem;
}

.center {
    text-align: center;
}

